<section id="first-panel">
	<div class="first-panel right">
		<img src="/img/os-hero.png">

	</div>

<div class="first-panel left">
	<h3>
		We help businesses 
		<span class="c">build,</span> <span class="m">publish</span> and <span class="y">manage</span> 
		content-heavy applications 
		across multiple devices.
	</h3>
	
	<a href="#contact-us" class="contact-button">Start your app today!</a>
</div>

</section>

<section id="more-info">
	<div id="about-inkless">
	<div class="about-one">
		<h4>Apps for small businesses</h4>
		<p>Most businesses can't afford a custom application. They miss out on customers that spend 3.5 hours a day on mobile devices. That's where we come in. Inkless delivers an out-of-the-box application of rich features so that businesses don't have to pay the usual tens of thousands of dollars. Any business can afford an app with Inkless.
		</p>
	</div>

	<div class="about-two">
			
			<h4>Manage your apps</h4>
			<p>We've created a platform that allows you to login and manage all your content-driven applications in one place. <em>No coding required!</em> Inkless allows you to preview real-time edits and changes with an easy to use interface. You can publish new issues, menu updates or push notifications whenever you're ready to send it to your customers!
			</p>
	</div>
	
	
	<div class="about-three">
		<h4>Apps for any industry</h4>
		<ul>
			<li><em class="m">Sales teams</em> are able to display their product catalogs and lines.</li>
			<li><em class="m">Builders, landscapers and photographers</em> can showcase your best work.</li>
			<li><em class="m">Restaurants</em> can use your apps to run promotions, notify users and create custom menus.</li>	
			<li><em class="m">Publishers</em> can create and maintain tablet versions of your print magazines or books.</li>
<!--			<li><em class="m">Retailers</em> will be able to show and sell products right in your very own app!</li> -->
		</ul>
	</div>

</div>

</section>
	
<section id="contact-us">
	<h3>Get Started Using Inkless Today! <br /><span class="y">You know you wanna.</span></h3>
	
	<div id="getit-left">
	<p>Whether you want to get started using Inkless, find out more information, or just want to inform just how cool it is, feel free. We don't bite, we promise.</p>
	</div>
	
	<form action="/contact" method="post" id="getit-mid">
	    <fieldset>
	        <p>		       
	            <input type="text" name="name" id="name" placeholder="Dr. Octopus" /> 
		    <label for="name">Name</label>
	        </p>

	        <p>
	            <input type="email" name="email" id="email" placeholder="info@inklessapp.com" /> 
	            <label for="email">Email Address</label>
	        </p>

	        <p>
	            <input type="text" name="phone" id="phone" placeholder="(###) ###–####" /> 
	            <label for="phone">Phone</label>
	        </p>

	        <p class="message-entry">
	            <textarea name="message" id="message"></textarea>
	            <label for="message">Message</label>
	        </p>

	        <footer>
	            <input type="submit" value="Submit" class="submit"/>
	        </footer>

	    </fieldset>
	</form>
</section>



