// ---------------------------------------------------------------------------------------------------- //
//- Name : Slides.scss
//- Purpose : To provide style to individual slides on the homepage
//-
//- Author: Nate Hunzaker, Smashing Boxes
// ---------------------------------------------------------------------------------------------------- //
// 1. Zeek
// 2. Yofi
// 3. Triangle Tutors
// 4. Inrfood
// 5. Malaria No More
// ---------------------------------------------------------------------------------------------------- //

// 0. Intro ---------------------------------------------------------------------------------------- //

#smashing_slider.intro {

  background: #f0f0f0 url('images/banners/home.jpg') 50% 0 repeat-x;

  .feature {

    background: transparent;
    height: 319px;
    width: 411px;

    a {
      display: block;
      background: transparent url("images/icons/play.png") 50% 50% no-repeat;
      height: 123px;
      width: 124px;
      margin: -62px 0 0 -62px;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 9999;
      
      @include opacity(0.35);
      @include transition(opacity 0.4s ease-in-out);

      // Fade in the play button on hover
      &:hover {
        @include opacity(1);
      }
    }

    
  }
}

// 1. Zeek ----------------------------------------------------------------------------------------- //

@-webkit-keyframes clouds {
  from   { background-position-x: 50%; }
  to         { background-position-x: 200%; }
}
@-moz-keyframes clouds {
  from   { background-position-x: 50%; }
  to         { background-position-x: 55%; }
}
@-ms-keyframes clouds {
  from   { background-position-x: 50%; }
  to         { background-position-x: 55%; }
}

#smashing_slider.zeek {

  background: #00b9e8 url('images/banners/getzeek.jpg') 50% -19px repeat-x;
  
  -webkit-animation: clouds 30s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;

  -moz-animation: clouds 30s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;

  -ms-animation: clouds 30s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-direction: alternate;
  
  .feature {
    background: transparent;
    right: -15px;
    top: 73px;
    width: 339px;
    height: 353px;
  }
}


// 2. Yofi ------------------------------------------------------------------------------------------ //

#smashing_slider.yofi {

  background: transparent url('images/banners/yofi.jpg') 0 0;

  .feature {
    background: transparent;
    right:  0;
    top: auto;
    bottom: 0;
    width: 484px;
    height: 100%;
  }
}

// 3.Triangle Tutors -------------------------------------------------------------------------- //

#smashing_slider.triangle {

  background: transparent url('images/banners/triangle.jpg') 0 -39px repeat-x;

  .feature {
    background: transparent;
    width: 484px;
  }
}


// 4. Inrfood ------------------------------------------------------------------------------------ //

#smashing_slider.inrfood {

  background: transparent url('images/banners/inrfood.jpg') 0 -39px repeat-x;

  .feature {
    background: transparent;
    right: -260px;
    top: -67px;
    width: 979px;
    height: 491px;
    z-index: 0;
  }
}

// 4. ALMA ------------------------------------------------------------------------------------ //

#smashing_slider.alma-slide {

  background: transparent url('images/banners/alma.jpg') 0 -39px repeat-x;

  .feature {
    background: transparent;
    right: -260px;
    top: -67px;
    width: 979px;
    height: 491px;
    z-index: 0;
  }
}

// 5. Malaria No More ------------------------------------------------------------------------ //

#smashing_slider.malaria {
  
  background: #f0f0f0 url('images/banners/malaria.jpg') 50% 0 repeat-x;
  
  #page-wrap {
    background-color: #f0f0f0;
    padding: 0 55px;
  }

  .feature {
    background: transparent;
    right:  -145px;
    width: 546px;
    height: 324px;
  }
  
}


// Media queries
// -------------------------------------------------- //

@media only screen and (max-width: 700px) {

  #smashing_slider.intro {

    .feature {
      bottom: -50px;
    }

  }
  
  #smashing_slider.alma-slide .slide .feature img{
    width:223% !important;
    max-width:223% !important;
    left:-117px !important;
    bottom:-184px !important;
    position:relative !important;
    
  }
}