<!-- Found in views/mailers/default.erb -->
<p>Hey,</p>
<p><em>We've got interest in Inkless! Here they are:</em></p>

<br />
--------------------------------------------------------------------------------------
<br />

<blockquote>
<p>Name: <%= params[:name] %></p>
<p>Email: <%= params[:email] %></p>
<p>Phone: <%= params[:phone] %></p>

<p>Message: <%= params[:message] %></p>
</blockquote>

<br />
--------------------------------------------------------------------------------------
<br />

<p>Kindly,</p>
<p>Your Neighborhood Email Robot</p>