<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/i/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Inkless</title>
  <meta name="description" content="">

  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="width=device-width">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

  <link rel="stylesheet" href="css/style-two.css">

  <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

  <!-- All JavaScript at the bottom, except this Modernizr build.
       Modernizr enables HTML5 elements & feature detects for optimal performance.
       Create your own custom Modernizr build: www.modernizr.com/download/ -->
	<script type="text/javascript" src="http://use.typekit.com/tiu2jve.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<script src="js/libs/modernizr-2.5.3.min.js"></script>
	
</head>
<body>
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  <header>
	<h1 class="hide-text">Inkless</h1>
  </header>
  <div role="main">
	<section id="first-panel">
	<div class="first-panel left">
		<h3>
			A platform that helps<br /> 
			<span class="c">build</span>, <span class="m">publish,</span> and <span class="y">manage</span> <br />
			content-driven applications <br />
			across multiple devices <br />
			cost-effectively.<br />
		</h3>
		
		<a href="#contact-us" class="contact-button">Contact us today!</a>
	</div>
	
	<div class="first-panel right">
		<img src="/img/os-hero.png">

	</div>
	</section>
	
	<section id="more-info">
		<div id="about-inkless">
		<h4>About Inkless</h4>
		<p class="about-one">The app manager is a web based tool that allows you to manage the content and analytics for your apps. Edit your images, videos and text. See what your audience is doing on your app and how long they are doing it.</p>

		<p class="about-two">All Inkless apps will be published to the iTunes store and be available for download to your audience and users.Our apps feature multimedia, maps, social integration and more great features.</p>
		</div>
		
		<div id="feature-list" class="m">
		<h4>Feature List</h4>
		<ul>
			<li>Add multimedia</li>
			<li>Push notifications</li>
			<li>User management</li>
			<li>Analytics</li>
			<li>Customization</li>
		</ul>
		</div>
	
	</section>
		
	<section id="contact-us">
		<h3>Get Started Using Inkless Today! <br /><span class="y">You know you wanna.</span></h3>
		
		<div id="getit-left">
		<p>Whether you want to get started using Inkless, find out more information, or just want to inform just how cool it is, feel free. We don't bite, we promise. We ink.</p>
		</div>
		
		<form action="/contact" method="post" id="getit-mid">
		    <fieldset>
		        <p>		       
		            <input type="text" name="name" id="name" placeholder="Dr. Octopus" /> 
			    <label for="name">Name</label>
		        </p>

		        <p>
		            <input type="email" name="email" id="email" placeholder="info@inklessapp.com" /> 
		            <label for="email">Email Address</label>
		        </p>

		        <p>
		            <input type="text" name="phone" id="phone" placeholder="(###) ###–####" /> 
		            <label for="phone">Phone</label>
		        </p>

		        <p class="message-entry">
		            <textarea name="message" id="message"></textarea>
		            <label for="message">Message</label>
		        </p>

		        <footer>
		            <input type="submit" value="Submit" class="submit"/>
		        </footer>

		    </fieldset>
		</form>
	</section>



	
  </div>



  <footer id="main">
	<p class="al">Speak with <a href="http://twitter.com/inklessapp">Inkless on Twitter</a></p>
	<p class="ar">a product of <a href="http://smashingboxes.com">Smashing Boxes</a></p>
  </footer>


  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>

  <!-- scripts concatenated and minified via build script -->
  <script src="js/plugins.js"></script>
  <script src="js/script.js"></script>
  <!-- end scripts -->

  <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
       mathiasbynens.be/notes/async-analytics-snippet -->
  <script>
    var _gaq=[['_setAccount','UA-30752138-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>